.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.hamburger__line {
  width: 30px;
  height: 2px;
  background-color: white;
  transition: all 0.3s linear;
  position: relative;
  transform-origin: 1px;
}

.hamburger--active .hamburger__line:first-child {
  transform: rotate(45deg);
}

.hamburger--active .hamburger__line:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
}

.hamburger--active .hamburger__line:nth-child(3) {
  transform: rotate(-45deg);
}
